.sideBar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ccc;
    min-height: 100vh;
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
  }
  
  .title {
    font-size: 16px;
    color: #333;
  }
  